body
{
	background-color : SkyBlue;
}

/* keep fonts and colors same on both pages*/
h1
{   background-color: white;
    text-align: center;
    color: LightSlateGrey;
	font-size: 30pt;
	font-family: Comic Sans Ms, cursive;
	margin-left: 5%;
	margin-right: 5%;
}

p
{	
    text-align: center;
	color: white;
	font-size: 15pt;
    font-family: Comic Sans Ms, cursive;
	margin-left: 5%;
	margin-right: 5%;
}

/* border for every picture will be white*/
img
{
	border-width: medium; 
	border-color: white;
	border-style: solid;
	margin-left: 5%;
	margin-right: 5%;
}